@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.header__top {
  display: flex;
  justify-content: space-between;
}
.header__bg {
  background: rgb(151, 100, 100);
  background: linear-gradient(90deg, rgb(151, 100, 100) 50%, rgb(207, 165, 165) 100%);
  height: 45px;
}
.header__info {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 9.31px;
}
.header__box {
  display: flex;
  padding: 14px 0px;
}
.header__content {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__ul {
  display: flex;
}
.header__li {
  padding: 0px 29px 0px 0px;
  font-weight: 600;
  font-size: 16px;
  color: #424242;
  cursor: pointer;
}
.header__search {
  box-sizing: border-box;
  border: 1px solid #BDBDBD;
  border-radius: 46px;
  padding: 10px 18px;
  outline: none;
  margin-right: 51px;
}
.header__fix {
  width: 107px;
  height: 17px;
  margin-right: 45px;
  outline: none;
  border: none;
}
.header__fix::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
}
.header__fix:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
}
.header__fix::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
}
.header__account {
  box-sizing: border-box;
  border: 1px solid #BDBDBD;
  border-radius: 46px;
  padding: 11px 17px;
  background: #ffffff;
  display: inline-flex;
  align-items: center;
  width: 100px;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
  cursor: pointer;
  margin-right: 50px;
}
.header__man {
  margin-right: 7.88px;
}
.header__favorite {
  box-sizing: border-box;
  border: 1px solid #BDBDBD;
  border-radius: 46px;
  padding: 11px 17px;
  background: #ffffff;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
  cursor: pointer;
  margin-right: 50px;
}
.header__heart {
  margin-right: 6.78px;
}
.header__basket {
  box-sizing: border-box;
  border: 1px solid #BDBDBD;
  border-radius: 46px;
  padding: 11px 17px;
  background: #ffffff;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
  cursor: pointer;
}
.header__bask {
  margin-right: 7.2px;
}
.header__row {
  margin-left: 50px;
}

@media screen and (max-width: 1615px) {
  .header__li {
    font-size: 15px;
  }
}
@media screen and (max-width: 1581px) {
  .header__li {
    font-size: 14px;
  }
}
@media screen and (max-width: 1544px) {
  .header__row {
    margin: 0;
  }
}
@media screen and (max-width: 1492px) {
  .header__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
  }
  .header__ul {
    flex-direction: column;
    line-height: 30px;
  }
  .header__content {
    justify-content: space-around;
  }
  .header__top {
    justify-content: space-around;
  }
}
@media screen and (max-width: 1200px) {
  .header__box {
    display: none;
  }
  .header__ul {
    display: none;
  }
  .header__form {
    display: none;
  }
  .header__img {
    margin-top: 10px;
  }
  .header__search {
    margin-right: 0px;
    background: white;
  }
  .header__account {
    margin-right: 0px;
    margin-top: 10px;
  }
  .header__favorite {
    margin-right: 0px;
  }
}
.container {
  max-width: 1620px;
  margin: 0 auto;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

#menu__toggle {
  opacity: 0;
  display: none;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: none;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: pink;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  background: linear-gradient(90deg, rgb(151, 100, 100) 50%, rgb(207, 165, 165) 100%);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.4s;
  text-align: center;
}

.menu__item {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  text-decoration: underline;
  color: pink;
}

@media screen and (max-width: 1200px) {
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
  }
  .menu__toggle {
    display: block;
  }
}
.footer__bg {
  background: linear-gradient(267.48deg, #ECECD5 56.22%, #D7D7B9 130.03%);
  width: 100%;
  margin-top: 490px;
}
.footer__img {
  width: 99px;
}
.footer__row {
  display: flex;
}
.footer__li {
  display: flex;
  align-items: center;
  margin-top: 19px;
  font-weight: 400;
  font-size: 16px;
  color: #424242;
}
.footer__li__fix {
  font-weight: 400;
  font-size: 16px;
  color: #424242;
  display: flex;
  align-items: center;
  margin-top: 56px;
}
.footer__li__bottom {
  font-weight: 400;
  font-size: 16px;
  color: #424242;
  display: flex;
  align-items: center;
  padding-bottom: 65px;
  margin-top: 20px;
}
.footer__first {
  padding-top: 64px;
}
.footer__second {
  margin-left: 138px;
  padding-top: 65px;
  line-height: 19.5px;
}
.footer__im {
  margin-right: 14px;
}
.footer__info {
  font-weight: 600;
  font-size: 16px;
  color: #424242;
  margin-top: 38px;
}
.footer__infor {
  font-weight: 600;
  font-size: 16px;
  color: #424242;
}
.footer__third {
  margin-left: 123px;
  padding-top: 65px;
  line-height: 19.5px;
}
.footer__more {
  font-weight: 600;
  font-size: 16px;
  color: #424242;
  margin-top: 38px;
}
.footer__moree {
  font-weight: 600;
  font-size: 16px;
  color: #424242;
}
.footer__help {
  margin-left: 121px;
  padding-top: 63px;
}
.footer__news {
  font-weight: 600;
  font-size: 16px;
  color: #424242;
}
.footer__your {
  width: 107px;
  height: 17px;
  margin: 0px 100px 0px 10px;
  outline: none;
  border: none;
  border-radius: 76px;
}
.footer__your::-moz-placeholder {
  font-weight: 300;
  font-size: 14px;
  color: #7D7D7D;
}
.footer__your:-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  color: #7D7D7D;
}
.footer__your::placeholder {
  font-weight: 300;
  font-size: 14px;
  color: #7D7D7D;
}
.footer__email {
  box-sizing: border-box;
  background: white;
  border-radius: 46px;
  padding: 10.5px 0px 13px 10px;
  outline: none;
}
.footer__form {
  margin-top: 31px;
}
.footer__btn {
  padding: 11px 42px;
  background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
  border: none;
  border-radius: 49px;
  cursor: pointer;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Spectral SC";
}
.footer__text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  color: #525252;
}
.footer__description {
  max-width: 454px;
  height: 88px;
  font-weight: 400;
  font-size: 16px;
  color: #525252;
  margin-top: 60px;
}

@media screen and (max-width: 1533px) {
  .footer__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__description {
    text-align: center;
  }
  .footer__help {
    text-align: center;
  }
}
@media screen and (max-width: 1037px) {
  .footer__help {
    margin-left: 200px;
  }
}
@media screen and (max-width: 963px) {
  .footer__help {
    margin: 0px;
  }
  .footer__third {
    margin: 0 100px 0px 0px;
  }
}
@media screen and (max-width: 740px) {
  .footer__row {
    flex-direction: column;
    align-content: center;
  }
  .footer__third {
    margin: 0 100px 0px 0px;
  }
  .footer__fix {
    text-align: center;
  }
  .footer__img {
    justify-content: center;
  }
  .footer__li {
    text-align: center;
    justify-content: center;
  }
  .footer__li__fix {
    justify-content: center;
  }
  .footer__li__bottom {
    justify-content: center;
  }
  .footer__second {
    text-align: center;
    margin: 0px;
  }
  .footer__third {
    text-align: center;
    margin: 0px;
  }
}
@media screen and (max-width: 427px) {
  .footer__your {
    width: 80px;
    margin: 0px 80px 0px 0px;
  }
}
@media screen and (max-width: 370px) {
  .footer__your {
    margin: 0px 50px 0px 0px;
  }
}
@media screen and (max-width: 341px) {
  .footer__your {
    margin: 0px 20px 0px 0px;
  }
}/*# sourceMappingURL=index.css.map */